<extend name="Public/layout" />
<block name="head">

</block>
<block name="main">

        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">角色列表</div>


                            </div>
                            <div class="widget-body  am-fr">

                                <div class="am-u-sm-3 am-u-md-3 am-u-lg-3">
                                    <div class="am-form-group">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button type="button" onclick="location.href='addRole'" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="am-u-sm-6 am-u-md-3 am-u-lg-2">
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p" style="margin-left: 630px;">
                                        <input name="role_name" type="text" class="am-form-field " style="width:200px;">
                                        <span class="am-input-group-btn">
                                            <button class="am-btn search-action am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
                                            <button class="am-btn reset-action am-btn-default am-btn-success tpl-table-list-field" type="button">重置</button>
                                          </span>
                                    </div>
                                </div>

                                <div class="am-u-sm-12">

                                    <table></table>
                                </div>
                                <div class="am-u-lg-12 am-cf">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</block>
 <block name="js">
<script type="text/javascript">
    var table = document.querySelector('table');
    var TGM = table.GM({
        supportRemind: true
        ,gridManagerName: 'test'
        ,isCombSorting: true
        ,height: '570px'
        ,supportAjaxPage:true
        ,supportSorting: true
        ,ajax_url: '{:U("Role/index")}'
        ,ajax_type: 'POST'
        ,query: {pluginId: 1}
        ,pageSize:20
        ,columnData: [{
                key: 'id',
                remind: 'ID',
                width: '100px', 
                text: '角色ID',
                sorting: ''
            },{
                key: 'role_name',
                remind: '角色名称',
                width: '100px', 
                text: '角色名称',
                sorting: ''
            },{
                key: 'rule_id',
                remind: '拥有权限',
                width: '100px', 
                text: '拥有权限',
                sorting: ''
            },{
                key: 'add_time',
                remind: '加入时间',
                width: '100px', 
                text: '加入时间',
                sorting: ''
            },{
                key: 'action',
                remind: '操作按钮',
                width: '100px',
                text: '操作',
                template: function(action, rowObject){
                    return '<button type="button" class="am-btn am-btn-secondary" style="color:#fff; padding:5px; margin-left:5px;" onclick="edit('+rowObject.id+')">编辑</button>'

                        +'<button type="button" class="am-btn am-btn-danger" style="color:#fff; padding:5px; margin-left:5px;"  onclick="del('+rowObject.id+',\''+rowObject.role_name+'\')">删除</button>'

                }
            }
        ]
        // 分页前事件
        ,pagingBefore: function(query){
            console.log('pagingBefore', query);
        }
        // 分页后事件
        ,pagingAfter: function(data){
            console.log('pagingAfter', data);
        }
        // 排序前事件
        ,sortingBefore: function (data) {
            console.log('sortBefore', data);
        }
        // 排序后事件
        ,sortingAfter: function (data) {
            console.log('sortAfter', data);
        }
        // 宽度调整前事件
        ,adjustBefore: function (event) {
            console.log('adjustBefore', event);
        }
        // 宽度调整后事件
        ,adjustAfter: function (event) {
            console.log('adjustAfter', event);
        }
        // 拖拽前事件
        ,dragBefore: function (event) {
            console.log('dragBefore', event);
        }
        // 拖拽后事件
        ,dragAfter: function (event) {
            console.log('dragAfter', event);
        }
    }, function(query){
        // 渲染完成后的回调函数
        console.log(query);
    });

    console.log('GirdManger version => ', TGM.version)
    // 日期格式化,不是插件的代码,只用于处理时间格式化
    Date.prototype.format = function(fmt){
        var o = {
            "M+": this.getMonth() + 1, //月份
            "D+": this.getDate(), //日
            "d+": this.getDate(), //日
            "H+": this.getHours(), //小时
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/([Y,y]+)/.test(fmt)){
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        for (var k in o){
            if(new RegExp("(" + k + ")").test(fmt)){
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            }
        }
        return fmt;
    };

    // 绑定搜索事件
    document.querySelector('.search-action').addEventListener('click', function () {
        var _query = {
            role_name: document.querySelector('[name="role_name"]').value,
        };
        table.GM('setQuery', _query).GM('refreshGrid', function () {
            console.log('搜索成功...');
        });
    });

    // 绑定重置
    document.querySelector('.reset-action').addEventListener('click', function () {
         var _query = {
            role_name:document.querySelector('[name="role_name"]').value = '',
        };
         table.GM('setQuery', _query).GM('refreshGrid', function () {
            console.log('重置成功...');
        });

    });

    //删除
    function del(id,name){
        layer.confirm('确定删除角色('+name+')？', {
          btn: ['确认', '取消']
          ,btn3: function(index, layero){
          }
        }, function(index, layero){
            $.post('{:U("Role/delRole")}',{
                id:id
            },function(res){
                if(res.err==0){
                    layer.msg(res.msg,{time:500},function(){table.GM('refreshGrid');});
                }else{
                    layer.msg(res.msg);
                }
            })
        }, function(index){
          
        });
    }


    function edit(id) {
        location.href = "/Home/Role/editRole/id/"+id;
    }


</script>
</block>
