<extend name="Public/layout" />
<block name="head">
</block>
<block name="main">

        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                              <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">添加管理员</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body am-fr">

                                <form class="am-form tpl-form-border-form tpl-form-border-br">
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">登录账号 <span class="tpl-form-line-small-title">Name</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" name="user_name" placeholder="请输入账号" style="width: 300px;"> 
                                            <small>请填写1-20字左右。</small>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">所属部门 <span class="tpl-form-line-small-title">Department</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" name="department" placeholder="请输入部门" style="width: 300px;">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-phone" class="am-u-sm-3 am-form-label">角色 <span class="tpl-form-line-small-title">Cate</span></label>
                                        <div class="am-u-sm-6">
                                            <select style="color:#000;" name="role_id" data-am-selected="{btnWidth: '300px', btnSize: 'sm', maxHeight: 200, searchBox: 1}" style="display: block;">
                                                <option value="0">选择角色</option>
                                                <foreach name="role" item="v" >
                                                <option value="{$v.id}">{$v.role_name}</option>
                                                </foreach>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button type="button" onclick="sub()" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</block>
 <block name="js">
 <script type="text/javascript">

        //添加
        function sub(){
            var user_name = $('input[name="user_name"]').val();
            var department = $('input[name="department"]').val();
            var role_id = $('select[name="role_id"]').val();
            $.post('{:U("Admin/addAdmin")}',{user_name,department,role_id},function(res){
                if(res.err==0){
                    layer.msg(res.msg,{time:500},function(){location.href='{:U("Admin/index")}'});
                }else{
                    layer.msg(res.msg);
                }
            })

        }
 </script>

</block>
